<% @products.each do |product| %>
<div class="product">
	<img class="catalog_image" src="<%= product.image %>">
	<ul>
		<li>name: <%= product.name %></li>
		<li>brand: <%= product.brand %></li>
		<li>category: <%= product.category %></li>
		<li>color: <%= product.color %></li>
	</ul>
</div>
<% end %>

<%= will_paginate @products %>
